In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_pickle('roger.pickle')

In [3]:
df.sample(10)

,Title,Year,Star_Score,Genre,Sub-genre,Rating,Runtime
495,Bride Flight,2011,3.0,Drama,Foreign,R,130
7416,Chelsea Girls,1967,1.0,,,,195
1284,Space Chimps,2008,3.0,Animation,Family,G,81
1908,Beauty Shop,2005,3.0,Comedy,Romance,PG-13,105
1468,The Prestige,2007,3.0,Drama,Fantasy,PG-13,130
2423,X2: X-Men United,2003,3.0,Action,Adventure,PG-13,124
4025,Trees Lounge,1996,3.5,Comedy,Drama,R,96
4972,Hook,1991,2.0,Adventure,Comedy,PG,135
5533,The Milagro Beanfield War,1988,2.5,Comedy,Drama,R,118
2733,40 Days And 40 Nights,2002,3.0,Comedy,Drama,R,93

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7443 entries, 0 to 7442
Data columns (total 7 columns):
Title         7443 non-null object
Year          7443 non-null object
Star_Score    7443 non-null float64
Genre         7443 non-null object
Sub-genre     7443 non-null object
Rating        7443 non-null object
Runtime       7443 non-null object
dtypes: float64(1), object(6)
memory usage: 407.1+ KB

In [5]:
df['Year'].value_counts()

2012    307
2011    285
2009    281
2005    280
2002    267
2003    267
2004    264
2010    256
1999    244
2000    243
1998    240
1997    240
2001    234
1996    229
1995    225
2008    210
1994    196
1993    173
2007    168
1991    162
1992    161
1988    159
2006    158
1987    150
1989    144
1990    142
1986    141
1968    115
1983    111
1971    107
1976    107
1980    106
1984    105
1972     96
1969     96
1973     94
1985     93
1982     90
1975     86
1981     82
1967     72
1979     60
1978     47
1970     47
1977     31
1974     31
2013     19
1966      4
          3
1964      2
1963      2
1960      2
1955      2
1965      1
1962      1
1957      1
1952      1
1951      1
1948      1
1927      1
Name: Year, dtype: int64

In [6]:
df.drop(df.index[df['Year'] == ''], inplace=True)
df['Year'] = df['Year'].astype(str)

In [7]:
df['Star_Score'].value_counts()

3.0    2340
3.5    1248
2.0    1229
2.5     860
4.0     810
1.5     419
1.0     385
0.5      86
0.0      63
Name: Star_Score, dtype: int64

In [8]:
df['Genre'].value_counts()

Drama              1949
Comedy             1915
Action             1591
                    827
Documentary         356
Crime               242
Adventure           190
Horror              134
Animation            87
Foreign              37
Family               21
Mystery              20
Thriller             19
Science Fiction      16
Fantasy              10
Suspense              7
Music                 6
Disaster              3
Western               3
Romance               3
Erotic                2
History               1
Indie                 1
Name: Genre, dtype: int64

In [9]:
df['Sub-genre'].value_counts()

                   1716
Drama              1488
Foreign             751
Adventure           660
Romance             446
Comedy              374
Indie               294
Family              289
Crime               284
Thriller            201
Horror              154
Mystery             137
Fantasy             116
Music                83
History              76
Science Fiction      75
Animation            69
Documentary          48
Sports Film          41
Suspense             39
Musical              21
Western              18
Sport                17
Disaster             10
War                  10
Erotic                6
Holiday               5
Eastern               5
Road Movie            5
Short                 1
Film Noir             1
Name: Sub-genre, dtype: int64

In [10]:
df['Rating'].value_counts()

R               2913
PG-13           1521
PG              1118
NR               918
                 644
G                209
No                31
Unrated           29
NC-17             23
X                 14
Not               10
:                  2
GP                 1
PG13               1
.                  1
PG-                1
PG-13&#8206;       1
TV                 1
g                  1
R,                 1
Name: Rating, dtype: int64

In [11]:
df.replace(r'^\s*$', np.nan, regex=True, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7440 entries, 0 to 7442
Data columns (total 7 columns):
Title         7440 non-null object
Year          7440 non-null object
Star_Score    7440 non-null float64
Genre         6613 non-null object
Sub-genre     5724 non-null object
Rating        6796 non-null object
Runtime       7034 non-null float64
dtypes: float64(2), object(5)
memory usage: 465.0+ KB

In [12]:
df['Sub-genre'].fillna('No Sub-genre', inplace=True)
df['Rating'].fillna('NR', inplace=True)

In [13]:
df[
    (df['Rating'] == ':') |
    (df['Rating'] == 'PG-') |
    (df['Rating'] == '.') |
    (df['Rating'] == 'TV') |
    (df['Rating'] == 'g') |
    (df['Rating'] == 'GP')
]

,Title,Year,Star_Score,Genre,Sub-genre,Rating,Runtime
10,Phil Spector,2013,2.5,NaN,No Sub-genre,TV,92.0
3804,Fire,1997,3.0,Drama,Foreign,.,104.0
4063,A Very Brady Sequel,1996,2.5,Comedy,No Sub-genre,g,90.0
5172,Narrow Margin,1990,1.5,Action,Crime,:,97.0
5173,The Tall Guy,1990,3.5,Comedy,Romance,:,90.0
5289,Limit Up,1989,2.0,Comedy,Drama,PG-,89.0
7140,The Revolutionary,1970,4.0,NaN,No Sub-genre,GP,92.0

In [14]:
df['Rating'].value_counts()

R               2913
NR              1562
PG-13           1521
PG              1118
G                209
No                31
Unrated           29
NC-17             23
X                 14
Not               10
:                  2
PG13               1
R,                 1
.                  1
PG-                1
GP                 1
PG-13&#8206;       1
TV                 1
g                  1
Name: Rating, dtype: int64

In [15]:
df['Rating'].replace('No', 'NR', inplace=True)
df['Rating'].replace('Not', 'NR', inplace=True)
df['Rating'].replace(':', 'R', inplace=True)
df['Rating'].replace('TV', 'NR', inplace=True)
df['Rating'].replace('PG-', 'PG-13', inplace=True)
df['Rating'].replace('.', 'NR', inplace=True)
df['Rating'].replace('GP', 'PG', inplace=True)
df['Rating'].replace('g', 'G', inplace=True)
df['Rating'].replace('R,', 'R', inplace=True)
df['Rating'].replace('PG-13&#8206;', 'PG-13', inplace=True)
df['Rating'].replace('PG13', 'PG-13', inplace=True)

In [16]:
df['Rating'].value_counts()

R          2916
NR         1605
PG-13      1524
PG         1119
G           210
Unrated      29
NC-17        23
X            14
Name: Rating, dtype: int64

In [17]:
df.dropna(subset=['Genre', 'Runtime'], how='any', inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6509 entries, 1 to 7442
Data columns (total 7 columns):
Title         6509 non-null object
Year          6509 non-null object
Star_Score    6509 non-null float64
Genre         6509 non-null object
Sub-genre     6509 non-null object
Rating        6509 non-null object
Runtime       6509 non-null float64
dtypes: float64(2), object(5)
memory usage: 406.8+ KB

In [19]:
df.reset_index(drop=True, inplace=True)
df.to_pickle('roger_clean.pickle')